.container {
  cursor: text;
  transition-property: background-color;

  &.focused, &:not(.disabled):hover {
    background-color: var(--first-color);
  }
}

.inner-container {
  position: relative;
}

.input {
  position: absolute;
  width: 100%;

  &:disabled {
    user-select: inherit;
  }
}

.sizer {
  padding: 0 1px;

  // Ensure that trailing or leading whitespace is included in the size of the element
  white-space: pre;

  visibility: hidden;
}
